/*
====================
Body Styles
====================
*/

.col-lg-3 {
    margin-right: 20px;
}

.card {
    margin-bottom: 20px;
}

.fiveDay {
    border: black solid 1px;
    background-color: red;
    margin: 10px;
    border-radius: 5px;
    padding-top: 12px;
}



/*
====================
Typography
====================
*/

#main-heading {
    padding: 25px;
    background-color: red;
    margin-bottom: 20px;
    border-radius: 5px;
}

