/*
====================
Body Styles
====================
*/

.col-lg-3 {
    margin-right: 20px;
}

.card {
    margin-bottom: 20px;
}

.fiveDay {
    border: black solid 1px;
    background-color: blue;
    margin: 10px;
    border-radius: 5px;
    padding-top: 12px;
}

.inline {
    display: inline;
}


/*
====================
Typography
====================
*/

#main-heading {
    padding: 25px;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 5px;
}

.blueBox {
    padding: 10px;
    background-color: blue;
    border-radius: 3px;
}

.yellowBox {
    padding: 10px;
    background-color: yellow;
    border-radius: 3px;
}

.redBox {
    padding: 10px;
    background-color: red;
    border-radius: 3px;
}
/*
====================
Image Styles
====================
*/

.icon {
    display: inline;
    margin-left: 10px;
}